<form class="{{cssClass}} pf1-sheet pf1-npc-sheet flexcol" autocomplete="off">
  {{> "modules/d35e-pf1-sheet/templates/actors/parts/item-drawer.html"}}

  <nav class="sheet-navigation pf1-primary-tabs tabs" data-group="primary">
    <a class="item active" data-tab="summary">{{ localize 'D35E.Summary' }}</a>
    <a class="item" data-tab="attributes">{{ localize 'D35E.Attributes' }}</a>
    <a class="item" data-tab="attacks">{{ localize 'D35E.Combat' }}</a>
    <a class="item" data-tab="inventory">{{ localize 'D35E.Inventory' }}</a>
    <a class="item" data-tab="feats">{{ localize 'D35E.Features' }}</a>
    <a class="item" data-tab="skills">{{ localize 'D35E.Skills' }}</a>
    <a class="item" data-tab="buffs">{{ localize 'D35E.Buffs' }}</a>
    {{#if system.showSpellcastingSheet}}<a class="item" data-tab="spellbook">{{ localize 'D35E.Spells' }}</a>{{/if}}
    <a class="item" data-tab="biography">{{ localize 'D35E.Biography' }}</a>
    <a class="item" data-tab="notes">{{ localize 'D35E.Notes' }}</a>
    <a class="item pf1-settings-tab" data-tab="config"><i class="fas fa-file-lines"></i></a>
  </nav>

  <section class="primary-body pf1-primary-body">
    <div class="tab summary pf1-summary-tab" data-group="primary" data-tab="summary">
      {{> "modules/d35e-pf1-sheet/templates/actors/parts/npc-summary.html"}}
    </div>
    <div class="tab attributes pf1-panel-tab" data-group="primary" data-tab="attributes">{{> "systems/D35E/templates/actors/parts/actor-attributes.html"}}</div>
    <div class="tab attacks pf1-panel-tab" data-group="primary" data-tab="attacks">{{> "systems/D35E/templates/actors/parts/actor-attacks.html" sections=attacks}}</div>
    <div class="tab inventory pf1-panel-tab" data-group="primary" data-tab="inventory">{{> "systems/D35E/templates/actors/parts/actor-inventory.html" sections=inventory}}</div>
    <div class="tab features pf1-panel-tab" data-group="primary" data-tab="feats">{{> "systems/D35E/templates/actors/parts/actor-features.html" sections=features}}</div>
    <div class="tab skills pf1-panel-tab" data-group="primary" data-tab="skills">{{> "systems/D35E/templates/actors/parts/actor-skills.html"}}</div>
    <div class="tab buffs pf1-panel-tab" data-group="primary" data-tab="buffs">{{> "systems/D35E/templates/actors/parts/actor-buffs.html" sections=buffs}}</div>
    <div class="tab spellbook pf1-panel-tab" data-group="primary" data-tab="spellbook">{{> "systems/D35E/templates/actors/parts/actor-spellbook.html"}}</div>
    <div class="tab biography pf1-editor-tab" data-group="primary" data-tab="biography">{{editor rendered.biography target="system.details.biography.value" button=true owner=owner editable=editable engine="prosemirror"}}</div>
    <div class="tab actor-notes pf1-editor-tab" data-group="primary" data-tab="notes">{{editor rendered.notes target="system.details.notes.value" button=true owner=owner editable=editable engine="prosemirror"}}</div>
    <div class="tab actor-notes pf1-panel-tab" data-group="primary" data-tab="config">{{> "systems/D35E/templates/actors/parts/actor-config.html"}}</div>
  </section>
</form>
